* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;

  /* 以下两个属性目前并未支持，写在这里为了减少风险 */
  -o-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  vertical-align: top;
}

#info {
  -webkit-user-select: text;
  -moz-user-select: text;
  -khtml-user-select: text;
  -ms-user-select: text;

  /* 以下两个属性目前并未支持，写在这里为了减少风险 */
  -o-user-select: text;
  user-select: text;
}
