* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;

  /* 以下两个属性目前并未支持，写在这里为了减少风险 */
  -o-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
}

canvas {
  display: block;
  vertical-align: top;
}

#info {
  -webkit-user-select: text;
  -moz-user-select: text;
  -khtml-user-select: text;
  -ms-user-select: text;

  /* 以下两个属性目前并未支持，写在这里为了减少风险 */
  -o-user-select: text;
  user-select: text;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container {
  position: relative;
  width: 90vw;
  height: 90vh;
  margin: auto;
}

.element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50vh;
}
